<div class="section-body sectioncss">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center">
            <div class="header-action">
                <ol class="breadcrumb page-breadcrumb">
                    <li class="breadcrumb-item"><a href="#">JNANA SAADHANA</a></li>
                    <!-- <li class="breadcrumb-item"><a href="#">University</a></li> -->
                    <li class="breadcrumb-item active" aria-current="page">Store</li>
                </ol>
            </div>
            <!-- <ul class="nav nav-tabs page-header-tab">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#admin-Dashboard">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#admin-Activity">Activity</a></li>
            </ul> -->
        </div>
    </div>
</div>
<div class="row clearfix col-12 cardcss">
<!-- <div class="col-3">
    <div class="card">
        <div class="card-body ribbon">
            <div class="ribbon-box green" data-toggle="tooltip" title="" 
            data-original-title="Total Earnings">5555</div>
            <a href="professors.html" class="my_sort_cut text-muted">
                <i class="fa fa-rupee"></i>
                <span>Total Earnings</span>
            </a>
        </div>
    </div>
</div> -->
<div class="col-4">
    <div class="card">
        <div class="card-body ribbon">
            <div class="ribbon-box orange" data-toggle="tooltip" title="" 
            data-original-title="Category">5</div>
            <a href="professors.html" class="my_sort_cut text-muted">
                <i class="fa fa-cart-plus"></i>
                <span>Total Categories: {{totalItemsC}}</span>
            </a>
        </div>
    </div>
</div>
<div class="col-4">
    <div class="card">
        <div class="card-body ribbon">
            <div class="ribbon-box green" data-toggle="tooltip" title="" 
            data-original-title="No of Books">5</div>
            <a href="professors.html" class="my_sort_cut text-muted">
                <i class="fa fa-book"></i>
                <span>Total Books/Magazines: {{totalItemsB}}</span>
            </a>
        </div>
    </div>
</div>
<!-- <div class="col-3">
    <div class="card">
        <div class="card-body ribbon">
            <div class="ribbon-box orange" data-toggle="tooltip" title="" 
            data-original-title="No of Magazine">5</div>
            <a href="professors.html" class="my_sort_cut text-muted">
                <i class="fa fa-newspaper-o"></i>
                <span>Total Magazine</span>
            </a>
        </div>
    </div>
</div> -->
</div>
<div class="row storerow col-12">
<div class="col-sm-5">
    <button class="btn btn-outline-info btn-block" ng-click="catsection=true;catpop=bomag=bomagpop=false">Categories</button></div>
<!-- <div class="col-sm-3">
   <button class="btn btn-outline-info btn-block">Category</button> 
</div>
<div class="col-sm-3">
    <button class="btn btn-outline-info btn-block">Books / Magazine</button> 
 </div> -->
 <div class="col-sm-5">
    <button class="btn btn-outline-info btn-block" ng-click="bomag=true;bomagpop=catsection=catpop=false">Book / Magazine
    </button> 
 </div>
</div>
<!------------------------------------------------------- languages -------------------------------------------->
<div ng-show="catsection">
    <div><button class="btn btn-info lanbutton" ng-click="catpop=addcatbtn=true;catsection=catedit=false;clearCat();">Add Category</button></div>
    <div class="section-body mt-3">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane active" id="Dep-all">
                    <div class="table-responsive">
                        <div class="table-responsive card">
                            <table class="table table-hover table-striped table-vcenter text-nowrap mb-0">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Created date</th>
                                        <th>Updated date</th>
                                        <th>Created By</th>
                                        <th>Updated By</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in cats" ng-click="$parent.catpop=$parent.catedit=$parent.catdelete=true;$parent.catsection=$parent.addcatbtn=false;editCat(x);">
                                        <td>{{x.categoryId}}</td>
                                        <td>{{x.categoryName}}</td>
                                        <td>{{x.description}}</td>
                                        <td>{{x.createdDate}}</td>
                                        <td>{{x.updatedDate}}</td>
                                        <td>{{x.createdBy}}</td>
                                        <td>{{x.updatedBy}}</td>
                                        <td>
                                            <button type="button" class="btn btn-icon btn-sm" title="View"><i class="fa fa-eye"></i></button>
                                            <button type="button" class="btn btn-icon btn-sm" title="Edit"><i class="fa fa-edit"></i></button>
                                            <button type="button" class="btn btn-icon btn-sm js-sweetalert" title="Delete" data-type="confirm"><i class="fa fa-trash-o text-danger"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>  
                                    <tr>  
                                        <td align="center" colspan="6   ">  
                                            <span class="form-group pull-left page-size form-inline">  
                                                <select id="ddlPageSize" class="form-control control-color"  
                                                        ng-model="pageSizeC"  
                                                        ng-change="changePageSizeC()">
                                                    <option value="2">2</option>      
                                                    <option value="5">5</option>  
                                                    <option value="10">10</option>  
                                                    <option value="25">25</option>  
                                                    <option value="50">50</option>  
                                                </select>  
                                            </span>  
                                            <div class="pull-right pagination">
                                                <pagination total-items="totalItemsC" ng-model="pageIndexC" items-per-page="pageSizeC" ng-change="pageChangeC()"></pagination>
                                                <!-- <pagination total-items="totalItemsL" ng-change="pageChange()" items-per-page="pageSize" direction-links="true" ng-model="pageIndex" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" num-pages="numPagesL"></pagination> -->
                                                <!-- <a class="btn">Page: {{pageIndex}} / {{numPagesL}} {{totalItemsL}}</a> -->
                                            </div>
                                        </td>  
                                    </tr>  
                                </tfoot>  
                            </table>
                        </div>        
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!---------------- Category part start ---------------->
<div class="card" ng-show="catpop">
    <div class="card-header">
        <h3 class="card-title">Categories</h3>
        <div class="card-options">
            <a href="" ng-click="catpop=false;catsection=true"><i class="fe fe-x"></i></a>
        </div>
    </div>
    <form class="card-body">
        <div class="form-group row">
            <label class="col-md-3 col-form-label">Category Name</label>
            <div class="col-md-7">
                <input type="text" class="form-control" ng-model="cat.categoryName">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label">Category Description</label>
            <div class="col-md-7">
                <input type="text" class="form-control" ng-model="cat.description">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label"></label>
            <div class="col-md-7" style="height: 100px;">
                <button type="submit" class="btn btn-primary" ng-show="addcatbtn" ng-click="addCat()">Add</button>
                <button type="submit" class="btn btn-primary" ng-show="catedit" ng-click="addCat()" >Update</button>
                <button type="submit" class="btn btn-outline-danger" ng-show="catdelete" ng-click="deleteCat()">Delete</button>
            </div>
        </div>
    </form>
</div>
<!---------------------------------------- end of category --------------------------------------------------->

<!---------------------------------------- Book / Magazine start---------------------------------------------->
<div ng-show="bomag">
    <div><button class="btn btn-info lanbutton" ng-click="bomagpop=addbomagbtn=true;bomag=boma=bomagedit=false;clearbooks()">Add Book / Magazine</button></div>
    <div class="section-body mt-3">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane active" id="Dep-all">
                    <div class="table-responsive">
                        <div class="table-responsive card">
                            <table class="table table-hover table-striped table-vcenter text-nowrap mb-0">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Created date</th>
                                        <th>Updated date</th>
                                        <th>Created By</th>
                                        <th>Updated By</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in books" ng-click="$parent.bomagpop=$parent.bomagedit=$parent.bomagdelete=true;$parent.bomag=$parent.addbomagbtn=false;editbooks(x)">
                                        <td>{{x.magazineCourseId}}</td>
                                        <td>{{x.magazineCourseName}}</td>
                                        <td>{{x.description}}</td>
                                        <td>{{x.createdDate}}</td>
                                        <td>{{x.updatedDate}}</td>
                                        <td>{{x.createdBy}}</td>
                                        <td>{{x.updatedBy}}</td>
                                        <td>
                                            <button type="button" class="btn btn-icon btn-sm" title="View"><i class="fa fa-eye"></i></button>
                                            <button type="button" class="btn btn-icon btn-sm" title="Edit"><i class="fa fa-edit"></i></button>
                                            <button type="button" class="btn btn-icon btn-sm js-sweetalert" title="Delete" data-type="confirm"><i class="fa fa-trash-o text-danger"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>  
                                    <tr>  
                                        <td align="center" colspan="6   ">  
                                            <span class="form-group pull-left page-size form-inline">  
                                                <select id="ddlPageSize" class="form-control control-color"  
                                                        ng-model="pageSizeB"  
                                                        ng-change="changePageSizeB()">
                                                    <option value="2">2</option>      
                                                    <option value="5">5</option>  
                                                    <option value="10">10</option>  
                                                    <option value="25">25</option>  
                                                    <option value="50">50</option>  
                                                </select>  
                                            </span>  
                                            <div class="pull-right pagination">
                                                <pagination total-items="totalItemsB" ng-model="pageIndexB" items-per-page="pageSizeB" ng-change="pageChangeB()"></pagination>
                                                <!-- <pagination total-items="totalItemsL" ng-change="pageChange()" items-per-page="pageSize" direction-links="true" ng-model="pageIndex" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" num-pages="numPagesL"></pagination> -->
                                                <!-- <a class="btn">Page: {{pageIndex}} / {{numPagesL}} {{totalItemsL}}</a> -->
                                            </div>
                                        </td>  
                                    </tr>  
                                </tfoot>  
                            </table>
                        </div>        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
<!---------------- Add Book / Magazine ---------------->
<div class="card" ng-show="bomagpop">
    <div class="card-header">
        <h3 class="card-title">Book / Magazine</h3>
        <div class="card-options">
            <a href="" ng-click="bomagpop=false;bomag=true"><i class="fe fe-x"></i></a>
        </div>
    </div>
    <form class="card-body">
        <div class="form-group row">
            <label class="col-md-3 col-form-label">Book / Magazine Name</label>
            <div class="col-md-7">
                <input type="text" ng-model="book.magazineCourseName" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label">Book / Magazine Description</label>
            <div class="col-md-7">
                <input type="text"  ng-model="book.description" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label"></label>
            <div class="col-md-7" style="height: 100px;">
                <button type="submit" class="btn btn-primary" ng-show="addbomagbtn" ng-click="addbooks()">Add</button>
                <button type="submit" class="btn btn-primary" ng-show="bomagedit" ng-click="addbooks()">Update</button>
                <button type="submit" class="btn btn-outline-danger" ng-show="bomagdelete" ng-click="deletebooks()">Delete</button>
            </div>
        </div>
    </form>
</div>
<!---------------------------------------- end of book / magazine -------------------------------------->