
 <div class="section-body sectioncss">
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center">
                <div class="header-action">
                    <ol class="breadcrumb page-breadcrumb">
                        <li class="breadcrumb-item"><a href="#">JNANA SAADHANA</a></li>
                        <!-- <li class="breadcrumb-item"><a href="#">University</a></li> -->
                        <li class="breadcrumb-item active" aria-current="page">Master</li>
                    </ol>
                </div>
                <!-- <ul class="nav nav-tabs page-header-tab">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#admin-Dashboard">Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#admin-Activity">Activity</a></li>
                </ul> -->
            </div>
        </div>
    </div>
<div class="row clearfix col-12 cardcss">
    <!-- <div class="col-3">
        <div class="card">
            <div class="card-body ribbon">
                <div class="ribbon-box green" data-toggle="tooltip" title="" 
                data-original-title="Total Earnings">5555</div>
                <a href="professors.html" class="my_sort_cut text-muted">
                    <i class="fa fa-rupee"></i>
                    <span>Total Earnings</span>
                </a>
            </div>
        </div>
    </div> -->
    <div class="col-4">
        <div class="card">
            <div class="card-body ribbon">
                <div class="ribbon-box orange" data-toggle="tooltip" title="" 
                data-original-title="Category">5</div>
                <a href="professors.html" class="my_sort_cut text-muted">
                    <i class="fa fa-cart-plus"></i>
                    <span>Total Languages: {{totalItemsL}}</span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body ribbon">
                <div class="ribbon-box green" data-toggle="tooltip" title="" 
                data-original-title="No of Books">5</div>
                <a href="professors.html" class="my_sort_cut text-muted">
                    <i class="fa fa-book"></i>
                    <span>Total Regions: {{totalItemsS}}</span>
                </a>
            </div>
        </div>
    </div>
    <!-- <div class="col-3">
        <div class="card">
            <div class="card-body ribbon">
                <div class="ribbon-box orange" data-toggle="tooltip" title="" 
                data-original-title="No of Magazine">5</div>
                <a href="professors.html" class="my_sort_cut text-muted">
                    <i class="fa fa-newspaper-o"></i>
                    <span>Total Magazine</span>
                </a>
            </div>
        </div>
    </div> -->
</div>
<div class="row storerow col-12">
<div class="col-sm-5">
    <button class="btn btn-outline-info btn-block" ng-click="loadLanguage()">Languages</button></div>
<!-- <div class="col-sm-3">
   <button class="btn btn-outline-info btn-block">Category</button> 
</div>
<div class="col-sm-3">
    <button class="btn btn-outline-info btn-block">Books / Magazine</button> 
 </div> -->
 <div class="col-sm-5">
    <button class="btn btn-outline-info btn-block" ng-click="loadState()">Regions</button> 
 </div>
</div>
<!------------------------------------------------------- languages -------------------------------------------->
<div ng-show="lan">
    <div><button class="btn btn-info lanbutton" ng-click="addLanguage();clearLang()">add languages</button></div>
    <div class="section-body mt-3">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane active" id="Dep-all">
                    <div class="table-responsive">
                        <div class="table-responsive card">
                            <table class="table table-hover table-striped table-vcenter text-nowrap mb-0">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Created date</th>
                                        <th>Updated date</th>
                                        <th>Created By</th>
                                        <th>Updated By</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in langs" ng-click="editLang(x);$parent.lanpop=true;$parent.lanedit=$parent.landelete=true;$parent.lan=$parent.addlanbtn=false;">
                                        <td>{{x.languageId}}</td>
                                        <td>{{x.languageName}}</td>
                                        <td>{{x.description}}</td>
                                        <td>{{x.createdDate}}</td>
                                        <td>{{x.updatedDate}}</td>
                                        <td>{{x.createdBy}}</td>
                                        <td>{{x.updatedBy}}</td>
                                        <td>
                                            <button type="button" class="btn btn-icon btn-sm" title="View"><i class="fa fa-eye"></i></button>
                                            <button type="button" class="btn btn-icon btn-sm" title="Edit"><i class="fa fa-edit"></i></button>
                                            <button type="button" class="btn btn-icon btn-sm js-sweetalert" title="Delete" data-type="confirm"><i class="fa fa-trash-o text-danger"></i></button>
                                        </td>
                                    </tr>
                                </tbody>

                                <tfoot>  
                                    <tr>  
                                        <td align="center" colspan="6   ">  
                                            <span class="form-group pull-left page-size form-inline">  
                                                <select id="ddlPageSize" class="form-control control-color"  
                                                        ng-model="pageSize"  
                                                        ng-change="changePageSize()">
                                                    <option value="2">2</option>      
                                                    <option value="5">5</option>  
                                                    <option value="10">10</option>  
                                                    <option value="25">25</option>  
                                                    <option value="50">50</option>  
                                                </select>  
                                            </span>  
                                            <div class="pull-right pagination">
                                                <pagination total-items="totalItemsL" ng-model="pageIndex" items-per-page="pageSize" ng-change="pageChange()"></pagination>
                                                <!-- <pagination total-items="totalItemsL" ng-change="pageChange()" items-per-page="pageSize" direction-links="true" ng-model="pageIndex" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" num-pages="numPagesL"></pagination> -->
                                                <!-- <a class="btn">Page: {{pageIndex}} / {{numPagesL}} {{totalItemsL}}</a> -->
                                            </div>
                                        </td>  
                                    </tr>  
                                </tfoot>  
                            </table>
                        </div>        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---------------- language add ---------------->
<div class="card" ng-show="lanpop">
    <div class="card-header">
        <h3 class="card-title">Languages</h3>
        <div class="card-options">
            <a href="" ng-click="closeLanguage()"><i class="fe fe-x"></i></a>
        </div>
    </div>
    <form class="card-body was-validated" name="myformL">
        <div class="form-group row">
            <label class="col-md-3 col-form-label" >Language Name</label>
            <div class="col-md-7">
                <input type="text" maxlength="30" placeholder="max characters 30" name="nameL" ng-model="lang.languageName" class="form-control" required>
                <div class="invalid-feedback">*required</div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" >Language Description</label>
            <div class="col-md-7">
                <textarea type="text" maxlength="250" placeholder="max characters 250" name="descriptL" ng-model="lang.description" class="form-control" required></textarea>
                <div class="invalid-feedback">*required</div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label"></label>
            <div class="col-md-7" style="height: 100px;">
                <button type="submit" class="btn btn-primary" ng-show="addlanbtn" ng-click="addLang()"
                 ng-disabled= !myformL.nameL.$valid||!myformL.descriptL.$valid>Add</button>
                <button type="submit" class="btn btn-primary" ng-show="lanedit" ng-click="addLang()"
                 ng-disabled= !myformL.nameL.$valid||!myformL.descriptL.$valid>Update</button>
                <button type="submit" class="btn btn-outline-danger" ng-show="landelete" ng-click="deleteLang()">Delete</button>
            </div>
        </div>
    </form>
</div>
<!------------------------------- end of language  ----------------------------------------------------------->

<!-------------------------------------------------------- state------------------------------------------------->
<div ng-show="stat">
    <div><button class="btn btn-info lanbutton" ng-click="addState();clearStat()">add region</button></div>
    <div class="section-body mt-3">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane active" id="Dep-all">
                    <div class="table-responsive">
                        <div class="table-responsive card">
                            <table class="table table-hover table-striped table-vcenter text-nowrap mb-0">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Created date</th>
                                        <th>Updated date</th>
                                        <th>Created By</th>
                                        <th>Updated By</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in states" ng-click="$parent.statepop=$parent.statedit=$parent.statdelete=true;$parent.stat=$parent.addstatbtn=false;editStat(x)">
                                        <td>{{x.regionId}}</td>
                                        <td>{{x.regionName}}</td>
                                        <td>{{x.description}}</td>
                                        <td>{{x.createdDate}}</td>
                                        <td>{{x.updatedDate}}</td>
                                        <td>{{x.createdBy}}</td>
                                        <td>{{x.updatedBy}}</td>
                                        <td>
                                            <button type="button" class="btn btn-icon btn-sm" title="View"><i class="fa fa-eye"></i></button>
                                            <button type="button" class="btn btn-icon btn-sm" title="Edit"><i class="fa fa-edit"></i></button>
                                            <button type="button" class="btn btn-icon btn-sm js-sweetalert" title="Delete" data-type="confirm"><i class="fa fa-trash-o text-danger"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>  
                                    <tr>  
                                        <td align="center" colspan="6   ">  
                                            <span class="form-group pull-left page-size form-inline">  
                                                <select id="ddlPageSize" class="form-control control-color"  
                                                        ng-model="spageSize"  
                                                        ng-change="changePageSizeS()"> 
                                                    <option value="2">2</option> 
                                                    <option value="5">5</option>  
                                                    <option value="10">10</option>  
                                                    <option value="25">25</option>  
                                                    <option value="50">50</option>  
                                                </select>  
                                            </span>  
                                            <div class="pull-right pagination">
                                                <pagination total-items="totalItemsS" ng-model="spageIndex" items-per-page="spageSize" ng-change="pagechangeS()"></pagination>
                                                <!-- <pagination total-items="totalItemsL" ng-change="pageChange()" items-per-page="pageSize" direction-links="true" ng-model="pageIndex" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" num-pages="numPagesL"></pagination> -->
                                                <!-- <a class="btn">Page: {{pageIndex}} / {{numPagesL}} {{totalItemsL}}</a> -->
                                            </div>
                                        </td>  
                                    </tr>  
                                </tfoot>  
                            </table>
                        </div>        
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!---------------- state add ---------------->
<div class="card" ng-show="statepop">
    <div class="card-header">
        <h3 class="card-title">Regions</h3>
        <div class="card-options">
            <a href="" ng-click="closeState()"><i class="fe fe-x"></i></a>
        </div>
    </div>
    <form class="card-body was-validated" name="myform">
        <div class="form-group row">
            <label class="col-md-3 col-form-label">Region Name</label>
            <div class="col-md-7">
                <input type="text" maxlength="30" name="name" placeholder="max characters 30" ng-model="state.regionName" class="form-control" required>
                <div class="invalid-feedback">*required</div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label">Region Description</label>
            <div class="col-md-7">
                <textarea type="text" maxlength="250" name="descript" placeholder="max characters 250" ng-model="state.description" class="form-control" required></textarea>
                <div class="invalid-feedback">*required</div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label"></label>
            <div class="col-md-7" style="height: 100px;">
                <button type="submit" class="btn btn-primary" ng-show="addstatbtn" ng-click="addStat()" 
                ng-disabled= !myform.name.$valid||!myform.descript.$valid>Add</button>
                <button type="submit" class="btn btn-primary" ng-show="statedit" ng-click="addStat()"
                ng-disabled= !myform.name.$valid||!myform.descript.$valid>Update</button>
                <button type="submit" class="btn btn-outline-danger" ng-show="statdelete" ng-click="deleteStat()">Delete</button>
            </div>
        </div>
    </form>
</div>
<!-- <div>
 <button type="button" id="view-pdf-btn" onclick="previewFile()" style="cursor: pointer; width: 120px; padding: 10px; font-family: 'Arial'; font-size: 15px; color: #ededed; border-radius: 5px; border: 1px #404040; background-color:#1473e6; margin: 100px 0 0 80px;" disabled>View PDF</button>
</div> -->

<!------------------------------------------------ end of state--------------------------------------------------->